In [1]:
import os
import pandas as pd

dfs = [pd.read_excel(f"data/{f}") for f in os.listdir("data") if f[-3:] == "xls"]
len(dfs)

8

In [2]:
for i in range(len(dfs)):
    print(f"{i + 2012}: {dfs[i].shape}")

2012: (186, 34)
2013: (186, 34)
2014: (192, 43)
2015: (186, 43)
2016: (186, 34)
2017: (186, 34)
2018: (185, 43)
2019: (186, 43)

In [3]:
index_2012 = dfs[0]

print(index_2012.shape)
index_2012.columns

(186, 34)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2017 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', 'Gov't Expenditure % of GDP ', 'Country',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [4]:
index_2012.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2017 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,163.0,40.0,48.885716,12.600000,28.400000,27.500000,...,Afghanistan,32.0,62.3,1.5,5.4,1947,9.6,-1.5,58.0,6.8
1,2,Albania,Albania,Europe,65.0,30.0,64.353003,54.013250,28.473312,39.707367,...,Albania,2.8,32.7,2.6,1.9,11300.8,17.3,1.9,1003.3,71.9
2,3,Algeria,Algeria,Middle East / North Africa,172.0,14.0,46.528581,38.200000,29.631083,31.700000,...,Algeria,39.5,578.7,3.7,3.3,14503.9,10.5,4.8,-587.3,8.7
3,4,Angola,Angola,Sub-Saharan Africa,165.0,41.0,48.515521,36.400000,19.800000,12.800000,...,Angola,25.1,184.4,3,4.7,7343.8,7.6,10.3,8680.9,62.3
4,5,Argentina,Argentina,Americas,156.0,26.0,50.409088,32.449712,39.580063,38.193866,...,Argentina,42.4,972,1.2,2.7,22553.6,6.7,26.5,11654.9,56.5

In [5]:
df_2012 = index_2012[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2012.shape)
df_2012.head()

(186, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,7.0,20.0,20.0,6.5,27.106,32.0,62.3,1.5,5.4,1947,9.6,-1.5,58.0,6.8
1,Albania,Europe,1.1,23.0,15.0,23.6,30.038,2.8,32.7,2.6,1.9,11300.8,17.3,1.9,1003.3,71.9
2,Algeria,Middle East / North Africa,8.4,35.0,23.0,11.7,44.444,39.5,578.7,3.7,3.3,14503.9,10.5,4.8,-587.3,8.7
3,Angola,Sub-Saharan Africa,11.7,17.0,30.0,6.5,28.926,25.1,184.4,3,4.7,7343.8,7.6,10.3,8680.9,62.3
4,Argentina,Americas,6.6,35.0,35.0,35.9,43.947,42.4,972,1.2,2.7,22553.6,6.7,26.5,11654.9,56.5

In [11]:
import warnings

warnings.filterwarnings("ignore")

df_2012.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2012.columns[6]

"Gov't Expenditure % of GDP"

In [12]:
index_2013 = dfs[1]

print(index_2013.shape)
index_2013.columns

(186, 34)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2019 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', 'Gov't Expenditure % of GDP ', 'Country',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [13]:
index_2013.head()

,CountryID,Country Name,WEBNAME,Region,World Rank,Region Rank,2019 Score,Property Rights,Judical Effectiveness,Government Integrity,...,Country,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,1,Afghanistan,Afghanistan,Asia-Pacific,152.0,39.0,51.5,19.6,29.6,25.2,...,Afghanistan,35.5,69.6,2.505,2.9,1957.58,8.8,5.0,53.9,7.3
1,2,Albania,Albania,Europe,52.0,27.0,66.5,54.8,30.6,40.4,...,Albania,2.9,36,3.900,2.5,12506.6,13.9,2.0,1119.1,71.2
2,3,Algeria,Algeria,Middle East and North Africa,171.0,14.0,46.2,31.6,36.2,28.9,...,Algeria,41.5,632.9,2.000,3.1,15237.2,10,5.6,1203.0,25.8
3,4,Angola,Angola,Sub-Saharan Africa,156.0,33.0,50.6,35.9,26.6,20.5,...,Angola,28.2,190.3,0.700,2.9,6752.58,8.2,31.7,-2254.5,65.3
4,5,Argentina,Argentina,Americas,148.0,26.0,52.2,47.8,44.5,33.5,...,Argentina,44.1,920.2,2.900,0.7,20875.8,8.7,25.7,11857.0,52.6

In [14]:
df_2013 = index_2013[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2013.shape)
df_2013.head()

(186, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,7.0,20.0,20.0,5.04,25.6,35.5,69.6,2.505,2.9,1957.58,8.8,5.0,53.9,7.3
1,Albania,Europe,1.1,23.0,15.0,24.90,29.5,2.9,36,3.900,2.5,12506.6,13.9,2.0,1119.1,71.2
2,Algeria,Middle East and North Africa,8.8,35.0,23.0,24.50,41.4,41.5,632.9,2.000,3.1,15237.2,10,5.6,1203.0,25.8
3,Angola,Sub-Saharan Africa,9.4,17.0,30.0,20.58,25.3,28.2,190.3,0.700,2.9,6752.58,8.2,31.7,-2254.5,65.3
4,Argentina,Americas,7.5,35.0,30.0,30.80,41.0,44.1,920.2,2.900,0.7,20875.8,8.7,25.7,11857.0,52.6

In [15]:
df_2013.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2013.columns[6]

"Gov't Expenditure % of GDP"

In [16]:
index_2014 = dfs[2]

print(index_2014.shape)
index_2014.columns

(192, 43)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2015 Score', 'Change in Yearly Score from 2014',
       'Property Rights', 'Change in Property Rights from 2014',
       'Freedom from Corruption',
       'Change in Freedom from Corruption from 2014', 'Fiscal Freedom ',
       'Change in Fiscal Freedom from 2014', 'Gov't Spending',
       'Change in Gov't Spending from 2014', 'Business Freedom',
       'Change in Business Freedom from 2014', 'Labor Freedom',
       'Change in Labor Freedom from 2014', 'Monetary Freedom',
       'Change in Monetary Freedom from 2014', 'Trade Freedom',
       'Change in Trade Freedom from 2014', 'Investment Freedom ',
       'Change in Investment Freedom from 2014', 'Financial Freedom',
       'Change in Financial Freedom from 2014', 'Tariff Rate (%)',
       'Income Tax Rate (%)', 'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Country', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [17]:
df_2014 = index_2014[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2014.shape)
df_2014.head()

(192, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,NaN,20.0,20.0,5.5,25.027,30.552,35.146,3.596,10.452043,1150.360,8.5,7.386,69.290000,NaN
1,Albania,Europe,1.1,23.0,15.0,22.9,28.214,2.788,26.499,0.700,2.431856,9506.116,16.1,1.935,1225.493875,70.497
2,Algeria,Middle East / North Africa,12.1,35.0,25.0,12.2,45.200,37.900,285.541,2.704,2.814112,7534.061,9.8,3.255,1691.000000,9.214
3,Angola,Sub-Saharan Africa,7.4,17.0,35.0,5.6,40.776,20.820,130.066,4.059,3.793499,6247.275,8.4,8.782,-4284.817112,26.638
4,Argentina,South and Central America / Caribbean,5.6,35.0,35.0,29.5,44.288,41.492,777.945,4.250,4.949380,18749.339,7.3,10.619,9082.000000,46.914

In [18]:
df_2014.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2014.columns[6]

"Gov't Expenditure % of GDP"

In [19]:
index_2015 = dfs[3]

print(index_2015.shape)
index_2015.columns

(186, 43)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2014 Score', 'Change in Yearly Score from 2013',
       'Property Rights', 'Change in Property Rights from 2013',
       'Freedom from Corruption',
       'Change in Freedom from Corruption from 2013', 'Fiscal Freedom ',
       'Change in Fiscal Freedom from 2013', 'Gov't Spending',
       'Change in Gov't Spending from 2013', 'Business Freedom',
       'Change in Business Freedom from 2013', 'Labor Freedom',
       'Change in Labor Freedom from 2013', 'Monetary Freedom',
       'Change in Monetary Freedom from 2013', 'Trade Freedom',
       'Change in Trade Freedom from 2013', 'Investment Freedom ',
       'Change in Investment Freedom from 2013', 'Financial Freedom',
       'Change in Financial Freedom from 2013', 'Tariff Rate (%)',
       'Income Tax Rate (%)', 'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Country', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [20]:
df_2015 = index_2015[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2015.shape)
df_2015.head()

(186, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,NaN,20.0,20.0,8.7,22.976,32.017,33.740,10.214,9.895821,1053.813,35.000,4.445,93.800000,NaN
1,Albania,Europe,1.26,10.0,10.0,23.0,28.531,3.243,26.110,1.300,3.710155,8052.178,15.000,2.023,957.041940,60.597
2,Algeria,Middle East / North Africa,12.10,35.0,25.0,10.0,40.422,36.494,272.866,2.530,2.437922,7477.069,9.666,8.890,1484.000000,9.900
3,Angola,Sub-Saharan Africa,7.44,17.0,30.0,6.1,38.588,20.213,128.288,8.413,6.310978,6346.742,NaN,10.283,-6897.800000,29.295
4,Argentina,South and Central America / Caribbean,5.57,35.0,35.0,34.6,40.855,41.028,743.121,1.899,5.449572,18112.330,7.200,10.043,12551.119344,44.887

In [21]:
df_2015.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2015.columns[6]

"Gov't Expenditure % of GDP"

In [22]:
index_2016 = dfs[4]

print(index_2016.shape)
index_2016.columns

(186, 34)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2020 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', 'Gov't Expenditure % of GDP ', 'Country',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [23]:
df_2016 = index_2016[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2016.shape)
df_2016.head()

(186, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,7.0,20.0,20.0,7.600000,26.329667,36.020,72.648,2.300,2.2,2016.89,1.5,0.626,139.200000,7.079
1,Albania,Europe,0.8,23.0,15.0,25.700000,29.082667,2.874,38.356,4.162,3.1,13344.54,13.9,2.029,1293.617724,68.590
2,Algeria,Middle East and North Africa,9.4,35.0,23.0,26.600000,39.761667,42.582,657.462,2.059,2.8,15439.92,12.2,4.270,1506.316886,36.872
3,Angola,Sub-Saharan Africa,9.4,17.0,30.0,9.223777,21.833667,29.250,199.319,-1.699,0.3,6814.33,7.3,19.629,-5732.491000,88.087
4,Argentina,Americas,7.9,35.0,30.0,30.300000,40.543000,44.560,915.125,-2.515,-0.3,20537.06,9.5,34.277,12161.837000,86.289

In [24]:
df_2016.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2016.columns[6]

"Gov't Expenditure % of GDP"

In [25]:
index_2017 = dfs[5]

print(index_2017.shape)
index_2017.columns

(186, 34)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2018 Score', 'Property Rights', 'Judical Effectiveness',
       'Government Integrity', 'Tax Burden', 'Gov't Spending', 'Fiscal Health',
       'Business Freedom', 'Labor Freedom', 'Monetary Freedom',
       'Trade Freedom', 'Investment Freedom ', 'Financial Freedom',
       'Tariff Rate (%)', 'Income Tax Rate (%)', 'Corporate Tax Rate (%)',
       'Tax Burden % of GDP', 'Gov't Expenditure % of GDP ', 'Country',
       'Population (Millions)', 'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [26]:
df_2017 = index_2017[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2017.shape)
df_2017.head()

(186, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,7.02,20.0,20.0,5.0,26.298667,33.400,64.081,1.5,4.3882,1918.6,8.54,4.384,99.569,8.271
1,Albania,Europe,1.11,23.0,15.0,27.2,30.149333,2.885,34.155,2.6,2.0478,11840.2,16.333,1.275,1124.35,71.536
2,Algeria,Middle East / North Africa,8.27,35.0,23.0,29.1,42.472000,40.762,612.513,3.7,3.5802,15026.5,11.222,6.398,1546,20.356
3,Angola,Sub-Saharan Africa,10.24,17.0,30.0,24.0,32.084000,27.360,187.261,3,3.9560,6844.43,6.579,32.378,14363.6,71.883
4,Argentina,Americas,7.35,35.0,35.0,31.3,38.489333,43.600,874.072,1.2,-0.1570,20047.5,6.557,58.400,5745.18,51.269

In [27]:
df_2017.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2017.columns[6]

"Gov't Expenditure % of GDP"

In [28]:
index_2018 = dfs[6]

print(index_2018.shape)
index_2018.columns

(185, 43)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2013 Score', 'Change in Yearly Score from 2012',
       'Property Rights', 'Change in Property Rights from 2012',
       'Freedom from Corruption',
       'Change in Freedom from Corruption from 2012', 'Fiscal Freedom ',
       'Change in Fiscal Freedom from 2012', 'Gov't Spending',
       'Change in Gov't Spending from 2012', 'Business Freedom',
       'Change in Business Freedom from 2012', 'Labor Freedom',
       'Change in Labor Freedom from 2012', 'Monetary Freedom',
       'Change in Monetary Freedom from 2012', 'Trade Freedom',
       'Change in Trade Freedom from 2012', 'Investment Freedom ',
       'Change in Investment Freedom from 2012', 'Financial Freedom',
       'Change in Financial Freedom from 2012', 'Tariff Rate (%)',
       'Income Tax Rate (%)', 'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Country', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [29]:
df_2018 = index_2018[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2018.shape)
df_2018.head()

(185, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,NaN,20.0,20.0,9.23526,23.657,31.084,29.731,5.737,10.335398,956.448,NaN,11.247,83.411455,12.100
1,Albania,Europe,5.1,10.0,10.0,23.30000,28.801,3.218,24.910,2.000,4.431419,7741.428,13.5,3.427,1031.362818,58.923
2,Algeria,Middle East / North Africa,8.6,35.0,25.0,10.40000,43.149,35.954,263.661,2.470,2.718594,7333.226,10.0,4.500,2571.000000,9.925
3,Angola,Sub-Saharan Africa,7.4,17.0,35.0,14.90000,36.257,19.625,115.679,3.404,8.848807,5894.617,NaN,13.500,-5585.529270,30.897
4,Argentina,South and Central America / Caribbean,6.2,35.0,35.0,33.50000,39.970,40.900,716.419,8.870,6.811779,17516.147,7.2,9.775,7243.148181,44.203

In [30]:
df_2018.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2018.columns[6]

"Gov't Expenditure % of GDP"

In [31]:
index_2019 = dfs[6]

print(index_2019.shape)
index_2019.columns

(185, 43)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2013 Score', 'Change in Yearly Score from 2012',
       'Property Rights', 'Change in Property Rights from 2012',
       'Freedom from Corruption',
       'Change in Freedom from Corruption from 2012', 'Fiscal Freedom ',
       'Change in Fiscal Freedom from 2012', 'Gov't Spending',
       'Change in Gov't Spending from 2012', 'Business Freedom',
       'Change in Business Freedom from 2012', 'Labor Freedom',
       'Change in Labor Freedom from 2012', 'Monetary Freedom',
       'Change in Monetary Freedom from 2012', 'Trade Freedom',
       'Change in Trade Freedom from 2012', 'Investment Freedom ',
       'Change in Investment Freedom from 2012', 'Financial Freedom',
       'Change in Financial Freedom from 2012', 'Tariff Rate (%)',
       'Income Tax Rate (%)', 'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Country', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [32]:
df_2019 = index_2019[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2019.shape)
df_2019.head()

(185, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,NaN,20.0,20.0,9.23526,23.657,31.084,29.731,5.737,10.335398,956.448,NaN,11.247,83.411455,12.100
1,Albania,Europe,5.1,10.0,10.0,23.30000,28.801,3.218,24.910,2.000,4.431419,7741.428,13.5,3.427,1031.362818,58.923
2,Algeria,Middle East / North Africa,8.6,35.0,25.0,10.40000,43.149,35.954,263.661,2.470,2.718594,7333.226,10.0,4.500,2571.000000,9.925
3,Angola,Sub-Saharan Africa,7.4,17.0,35.0,14.90000,36.257,19.625,115.679,3.404,8.848807,5894.617,NaN,13.500,-5585.529270,30.897
4,Argentina,South and Central America / Caribbean,6.2,35.0,35.0,33.50000,39.970,40.900,716.419,8.870,6.811779,17516.147,7.2,9.775,7243.148181,44.203

In [33]:
df_2019.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2019.columns[6]

"Gov't Expenditure % of GDP"

In [34]:
index_2020 = dfs[7]

print(index_2020.shape)
index_2020.columns

(186, 43)

Index(['CountryID', 'Country Name', 'WEBNAME', 'Region', 'World Rank',
       'Region Rank', '2016 Score', 'Change in Yearly Score from 2015',
       'Property Rights', 'Change in Property Rights from 2015',
       'Freedom from Corruption',
       'Change in Freedom from Corruption from 2015', 'Fiscal Freedom ',
       'Change in Fiscal Freedom from 2015', 'Gov't Spending',
       'Change in Gov't Spending from 2015', 'Business Freedom',
       'Change in Business Freedom from 2015', 'Labor Freedom',
       'Change in Labor Freedom from 2015', 'Monetary Freedom',
       'Change in Monetary Freedom from 2015', 'Trade Freedom',
       'Change in Trade Freedom from 2015', 'Investment Freedom ',
       'Change in Investment Freedom from 2015', 'Financial Freedom',
       'Change in Financial Freedom from 2015', 'Tariff Rate (%)',
       'Income Tax Rate (%)', 'Corporate Tax Rate (%)', 'Tax Burden % of GDP',
       'Gov't Expenditure % of GDP ', 'Country', 'Population (Millions)',
       'GDP (Billions, PPP)', 'GDP Growth Rate (%)',
       '5 Year GDP Growth Rate (%)', 'GDP per Capita (PPP)',
       'Unemployment (%)', 'Inflation (%)', 'FDI Inflow (Millions)',
       'Public Debt (% of GDP)'],
      dtype='object')

In [35]:
df_2020 = index_2020[
    [
        "Country",
        "Region",
        "Tariff Rate (%)",
        "Income Tax Rate (%)",
        "Corporate Tax Rate (%)",
        "Tax Burden % of GDP",
        "Gov't Expenditure % of GDP ",
        "Population (Millions)",
        "GDP (Billions, PPP)",
        "GDP Growth Rate (%)",
        "5 Year GDP Growth Rate (%)",
        "GDP per Capita (PPP)",
        "Unemployment (%)",
        "Inflation (%)",
        "FDI Inflow (Millions)",
        "Public Debt (% of GDP)"
    ]
]

print(df_2020.shape)
df_2020.head()

(186, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,Afghanistan,Asia-Pacific,NaN,20.0,20.0,6.61444,25.024,31.279,60.578,1.534,6.8158,1936.715,9.1,4.611,53.5600,6.700
1,Albania,Europe,1.2,23.0,15.0,21.70000,28.878,2.774,31.556,2.102,2.2742,11376.825,16.1,1.625,1093.4803,72.564
2,Algeria,Middle East / North Africa,12.1,35.0,23.0,12.20000,38.000,38.700,551.809,4.129,3.3274,14258.620,9.5,2.917,1488.0000,8.764
3,Angola,Sub-Saharan Africa,4.9,17.0,30.0,6.00000,40.791,24.383,175.641,4.222,4.7008,7203.347,6.8,7.296,-3881.0000,38.043
4,Argentina,South and Central America / Caribbean,6.3,35.0,35.0,30.60000,40.300,41.961,947.573,0.469,4.3988,22582.499,8.2,37.600,6612.0000,48.564

In [36]:
df_2020.rename(
    columns={"Gov't Expenditure % of GDP " : "Gov't Expenditure % of GDP"},
    inplace=True
)

df_2020.columns[6]

"Gov't Expenditure % of GDP"

In [37]:
from datetime import datetime

by_year = [
    df_2013,
    df_2014,
    df_2015,
    df_2016,
    df_2017,
    df_2018,
    df_2019,
    df_2020
]

for i in range(len(by_year)):
    by_year[i].insert(0, "Year", datetime(i + 2013, 1, 1))
    
by_year[0]

,Year,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
0,2013-01-01,Afghanistan,Asia-Pacific,7.0,20.0,20.0,5.04,25.6,35.5,69.6,2.505,2.9,1957.58,8.8,5.0,53.9,7.3
1,2013-01-01,Albania,Europe,1.1,23.0,15.0,24.90,29.5,2.9,36,3.900,2.5,12506.6,13.9,2.0,1119.1,71.2
2,2013-01-01,Algeria,Middle East and North Africa,8.8,35.0,23.0,24.50,41.4,41.5,632.9,2.000,3.1,15237.2,10,5.6,1203.0,25.8
3,2013-01-01,Angola,Sub-Saharan Africa,9.4,17.0,30.0,20.58,25.3,28.2,190.3,0.700,2.9,6752.58,8.2,31.7,-2254.5,65.3
4,2013-01-01,Argentina,Americas,7.5,35.0,30.0,30.80,41.0,44.1,920.2,2.900,0.7,20875.8,8.7,25.7,11857.0,52.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,2013-01-01,Venezuela,Americas,10.0,34.0,34.0,14.90,37.4,31.4,380.7,-14.000,-7.8,12113.5,7.7,1087.5,-68.0,34.9
182,2013-01-01,Vietnam,Asia-Pacific,2.9,35.0,22.0,17.95,29.4,93.6,647.4,6.800,6.2,6913.13,2.1,3.5,14100.0,58.2
183,2013-01-01,Yemen,Middle East and North Africa,4.3,NaN,NaN,NaN,NaN,30,38.6,-13.800,-16.1,1287.48,14,4.9,-269.9,141.0
184,2013-01-01,Zambia,Sub-Saharan Africa,6.2,35.0,35.0,17.90,25.8,17.2,68.9,3.600,4.0,3996.14,7.8,6.6,1091.2,62.2
185,2013-01-01,Zimbabwe,Sub-Saharan Africa,5.0,51.5,25.0,22.30,29.2,14.9,34,3.000,2.6,2282.65,5,1.3,289.4,78.4

In [187]:
df = pd.concat(by_year)
df.set_index("Year", inplace=True)

print(df.shape)
df.head()

(1492, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Afghanistan,Asia-Pacific,7.0,20.0,20.0,5.04,25.6,35.5,69.6,2.505,2.9,1957.58,8.8,5.0,53.9,7.3
2013-01-01,Albania,Europe,1.1,23.0,15.0,24.90,29.5,2.9,36,3.9,2.5,12506.6,13.9,2.0,1119.1,71.2
2013-01-01,Algeria,Middle East and North Africa,8.8,35.0,23.0,24.50,41.4,41.5,632.9,2,3.1,15237.2,10,5.6,1203,25.8
2013-01-01,Angola,Sub-Saharan Africa,9.4,17.0,30.0,20.58,25.3,28.2,190.3,0.7,2.9,6752.58,8.2,31.7,-2254.5,65.3
2013-01-01,Argentina,Americas,7.5,35.0,30.0,30.80,41.0,44.1,920.2,2.9,0.7,20875.8,8.7,25.7,11857,52.6

In [188]:
by_country = {}

for country in list(df.Country.value_counts().keys()):
    if df.Country.value_counts()[country] == 8:
        by_country[country] = df[df.Country == country]
        
len(by_country.keys())

172

In [189]:
for country in by_country.keys():
    print(country)

Suriname
Liberia
Uzbekistan
Portugal
Kenya
Chile
Bhutan
Senegal
Argentina
Vanuatu
Ukraine
Switzerland
Thailand
Belgium
Turkmenistan
Turkey
Kuwait
Belarus
Kazakhstan
Guatemala
Pakistan
Moldova
Luxembourg
Afghanistan
Saudi Arabia
Benin
Comoros
Mexico
Timor-Leste
Colombia
Lithuania
Madagascar
Tunisia
United Kingdom
São Tomé and Príncipe
Tajikistan
Cambodia
Germany
Seychelles
Central African Republic
Solomon Islands
Honduras
Togo
Liechtenstein
Austria
Singapore
Angola
Malaysia
Kosovo
Philippines
Cyprus
Jordan
Indonesia
Eritrea
Guinea
Algeria
Albania
Macedonia
Côte d'Ivoire
Ghana
Maldives
Burundi
Lebanon
Qatar
Kyrgyz Republic
Greece
Netherlands
Slovenia
Malawi
Oman
Papua New Guinea
Sierra Leone
Bangladesh
Macau
Namibia
Croatia
Lesotho
Burma
Mali
New Zealand
Tonga
Australia
Chad
Denmark
Guyana
India
Barbados
Iraq
Montenegro
Georgia
Finland
Azerbaijan
Nigeria
Fiji
Belize
El Salvador
Vietnam
Sweden
Estonia
Japan
Egypt
Zimbabwe
Romania
Brazil
Nicaragua
Venezuela
Czech Republic
Yemen
Peru
Dominican Republic
Morocco
Zambia
Hungary
Ecuador
Sri Lanka
Tanzania
Sudan
Ireland
China
Bulgaria
Nepal
Serbia
Djibouti
Norway
Gabon
Trinidad and Tobago
United States
Canada
France
Spain
Mauritius
Bahrain
Micronesia
Mauritania
Malta
Jamaica
Rwanda
Italy
Bosnia and Herzegovina
Burkina Faso
Niger
Armenia
Libya
Costa Rica
Guinea-Bissau
United Arab Emirates
Syria
Dominica
Haiti
Korea, South
South Africa
Russia
Mozambique
Panama
Iceland
Uganda
Botswana
Kiribati
Ethiopia
Cuba
Iran
Samoa
Equatorial Guinea
Uruguay
Bolivia
Latvia
Cameroon
Mongolia
Paraguay
Somalia
Israel
Poland

In [190]:
avg_tariff = []

for country in by_country.keys():
    avg_tariff.append((country, by_country[country]["Tariff Rate (%)"][:"2017-01-01"].mean()))
    
len(avg_tariff)

172

In [191]:
max_tariff = []

for country in by_country.keys():
    max_tariff.append((country, by_country[country]["Tariff Rate (%)"][:"2017-01-01"].max()))
    
len(max_tariff)

172

In [116]:
max_tariff

[('Suriname', 11.9),
 ('Liberia', 12.44),
 ('Uzbekistan', 8.73),
 ('Portugal', 2.0),
 ('Kenya', 12.3),
 ('Chile', 4.02),
 ('Bhutan', 17.8),
 ('Senegal', 12.3),
 ('Argentina', 7.9),
 ('Vanuatu', 18.5),
 ('Ukraine', 2.8),
 ('Switzerland', 1.7),
 ('Thailand', 6.2),
 ('Belgium', 2.0),
 ('Turkmenistan', 2.9),
 ('Turkey', 3.5),
 ('Kuwait', 4.4),
 ('Belarus', 3.0),
 ('Kazakhstan', 4.72),
 ('Guatemala', 2.7),
 ('Pakistan', 10.1),
 ('Moldova', 5.7),
 ('Luxembourg', 2.0),
 ('Afghanistan', 7.02),
 ('Saudi Arabia', 5.5),
 ('Benin', 17.8),
 ('Comoros', 10.4),
 ('Mexico', 5.4),
 ('Timor-Leste', 10.32),
 ('Colombia', 8.9),
 ('Lithuania', 2.0),
 ('Madagascar', 9.1),
 ('Tunisia', 16.0),
 ('United Kingdom', 2.0),
 ('São Tomé and Príncipe', 15.0),
 ('Tajikistan', 7.18),
 ('Cambodia', 9.9),
 ('Germany', 2.0),
 ('Seychelles', 28.3),
 ('Central African Republic', 16.6),
 ('Solomon Islands', 18.5),
 ('Honduras', 7.3),
 ('Togo', 14.2),
 ('Liechtenstein', 0.0),
 ('Austria', 2.0),
 ('Singapore', 0.1),
 ('Angola', 10.24),
 ('Malaysia', 5.0),
 ('Kosovo', 7.1),
 ('Philippines', 4.8),
 ('Cyprus', 2.0),
 ('Jordan', 8.3),
 ('Indonesia', 2.6),
 ('Eritrea', 5.43),
 ('Guinea', 12.3),
 ('Algeria', 12.1),
 ('Albania', 5.1),
 ('Macedonia', 4.0),
 ("Côte d'Ivoire", 10.3),
 ('Ghana', 10.8),
 ('Maldives', 21.1),
 ('Burundi', 6.59),
 ('Lebanon', 7.1),
 ('Qatar', 5.1),
 ('Kyrgyz Republic', 3.2),
 ('Greece', 2.0),
 ('Netherlands', 2.0),
 ('Slovenia', 2.0),
 ('Malawi', 6.6),
 ('Oman', 4.1),
 ('Papua New Guinea', 2.6),
 ('Sierra Leone', 13.6),
 ('Bangladesh', 13.0),
 ('Macau', 0.0),
 ('Namibia', 6.9),
 ('Croatia', 2.0),
 ('Lesotho', 12.7),
 ('Burma', 4.6),
 ('Mali', 10.64),
 ('New Zealand', 1.62),
 ('Tonga', 7.2),
 ('Australia', 1.9),
 ('Chad', 16.4),
 ('Denmark', 2.0),
 ('Guyana', 7.1),
 ('India', 8.2),
 ('Barbados', 14.8),
 ('Iraq', nan),
 ('Montenegro', 3.5),
 ('Georgia', 0.72),
 ('Finland', 2.0),
 ('Azerbaijan', 5.2),
 ('Nigeria', 11.3),
 ('Fiji', 16.1),
 ('Belize', 11.1),
 ('El Salvador', 5.5),
 ('Vietnam', 5.7),
 ('Sweden', 2.0),
 ('Estonia', 2.0),
 ('Japan', 2.5),
 ('Egypt', 10.0),
 ('Zimbabwe', 17.3),
 ('Romania', 2.0),
 ('Brazil', 8.6),
 ('Nicaragua', 2.3),
 ('Venezuela', 11.0),
 ('Czech Republic', 2.0),
 ('Yemen', 6.2),
 ('Peru', 2.5),
 ('Dominican Republic', 6.4),
 ('Morocco', 13.1),
 ('Zambia', 6.2),
 ('Hungary', 2.0),
 ('Ecuador', 7.0),
 ('Sri Lanka', 8.7),
 ('Tanzania', 11.5),
 ('Sudan', 17.5),
 ('Ireland', 2.0),
 ('China', 4.1),
 ('Bulgaria', 2.0),
 ('Nepal', 14.7),
 ('Serbia', 6.5),
 ('Djibouti', 17.7),
 ('Norway', 3.4),
 ('Gabon', 16.9),
 ('Trinidad and Tobago', 10.0),
 ('United States', 2.6),
 ('Canada', 1.6),
 ('France', 2.0),
 ('Spain', 2.0),
 ('Mauritius', 1.1),
 ('Bahrain', 7.8),
 ('Micronesia', 7.1),
 ('Mauritania', 11.74),
 ('Malta', 2.0),
 ('Jamaica', 10.8),
 ('Rwanda', 8.7),
 ('Italy', 2.0),
 ('Bosnia and Herzegovina', 2.5),
 ('Burkina Faso', 9.59),
 ('Niger', 11.9),
 ('Armenia', 2.52),
 ('Libya', 0.0),
 ('Costa Rica', 4.2),
 ('Guinea-Bissau', 15.5),
 ('United Arab Emirates', 4.8),
 ('Syria', 16.5),
 ('Dominica', 13.72),
 ('Haiti', 7.29),
 ('Korea, South', 8.71),
 ('South Africa', 4.6),
 ('Russia', 6.3),
 ('Mozambique', 7.1),
 ('Panama', 7.9),
 ('Iceland', 1.6),
 ('Uganda', 8.6),
 ('Botswana', 6.4),
 ('Kiribati', 28.1),
 ('Ethiopia', 12.14),
 ('Cuba', 9.98),
 ('Iran', 21.8),
 ('Samoa', 12.0),
 ('Equatorial Guinea', 15.6),
 ('Uruguay', 6.3),
 ('Bolivia', 6.1),
 ('Latvia', 2.0),
 ('Cameroon', 15.8),
 ('Mongolia', 5.5),
 ('Paraguay', 4.8),
 ('Somalia', nan),
 ('Israel', 3.54),
 ('Poland', 2.0)]

In [192]:
min_tariff = []

for country in by_country.keys():
    min_tariff.append((country, by_country[country]["Tariff Rate (%)"][:"2017-01-01"].min()))
    
len(min_tariff)

172

In [193]:
min_tariff

[('Suriname', 7.6),
 ('Liberia', 5.3),
 ('Uzbekistan', 5.1),
 ('Portugal', 1.0),
 ('Kenya', 6.08),
 ('Chile', 0.5),
 ('Bhutan', 2.8),
 ('Senegal', 8.0),
 ('Argentina', 5.57),
 ('Vanuatu', 4.8),
 ('Ukraine', 1.9),
 ('Switzerland', 0.0),
 ('Thailand', 3.47),
 ('Belgium', 1.0),
 ('Turkmenistan', 0.0),
 ('Turkey', 2.7),
 ('Kuwait', 2.96),
 ('Belarus', 1.5),
 ('Kazakhstan', 2.4),
 ('Guatemala', 1.39),
 ('Pakistan', 9.53),
 ('Moldova', 2.46),
 ('Luxembourg', 1.0),
 ('Afghanistan', 7.0),
 ('Saudi Arabia', 3.4),
 ('Benin', 11.6),
 ('Comoros', 5.0),
 ('Mexico', 1.02),
 ('Timor-Leste', 2.5),
 ('Colombia', 4.21),
 ('Lithuania', 1.0),
 ('Madagascar', 5.7),
 ('Tunisia', 3.94),
 ('United Kingdom', 1.0),
 ('São Tomé and Príncipe', 7.37),
 ('Tajikistan', 5.0),
 ('Cambodia', 4.85),
 ('Germany', 1.0),
 ('Seychelles', 1.64),
 ('Central African Republic', 13.88),
 ('Solomon Islands', 7.65),
 ('Honduras', 2.79),
 ('Togo', 10.3),
 ('Liechtenstein', 0.0),
 ('Austria', 1.0),
 ('Singapore', 0.0),
 ('Angola', 7.4),
 ('Malaysia', 1.28),
 ('Kosovo', 4.4),
 ('Philippines', 1.7),
 ('Cyprus', 1.0),
 ('Jordan', 3.98),
 ('Indonesia', 2.1),
 ('Eritrea', 5.4),
 ('Guinea', 10.9),
 ('Algeria', 8.27),
 ('Albania', 0.8),
 ('Macedonia', 1.12),
 ("Côte d'Ivoire", 6.79),
 ('Ghana', 9.96),
 ('Maldives', 11.2),
 ('Burundi', 5.39),
 ('Lebanon', 2.77),
 ('Qatar', 3.36),
 ('Kyrgyz Republic', 2.4),
 ('Greece', 1.0),
 ('Netherlands', 1.0),
 ('Slovenia', 1.0),
 ('Malawi', 4.24),
 ('Oman', 1.5),
 ('Papua New Guinea', 2.0),
 ('Sierra Leone', 9.88),
 ('Bangladesh', 10.7),
 ('Macau', 0.0),
 ('Namibia', 0.87),
 ('Croatia', 1.29),
 ('Lesotho', 1.4),
 ('Burma', 2.9),
 ('Mali', 7.6),
 ('New Zealand', 1.3),
 ('Tonga', 5.26),
 ('Australia', 0.9),
 ('Chad', 13.92),
 ('Denmark', 1.0),
 ('Guyana', 6.5),
 ('India', 5.8),
 ('Barbados', 13.1),
 ('Iraq', nan),
 ('Montenegro', 2.6),
 ('Georgia', 0.3),
 ('Finland', 1.0),
 ('Azerbaijan', 3.89),
 ('Nigeria', 9.75),
 ('Fiji', 9.89),
 ('Belize', 9.8),
 ('El Salvador', 1.79),
 ('Vietnam', 2.7),
 ('Sweden', 1.0),
 ('Estonia', 1.0),
 ('Japan', 1.2),
 ('Egypt', 6.6),
 ('Zimbabwe', 5.0),
 ('Romania', 1.0),
 ('Brazil', 7.7),
 ('Nicaragua', 2.0),
 ('Venezuela', 8.6),
 ('Czech Republic', 1.0),
 ('Yemen', 3.82),
 ('Peru', 0.8),
 ('Dominican Republic', 4.2),
 ('Morocco', 2.79),
 ('Zambia', 2.69),
 ('Hungary', 1.0),
 ('Ecuador', 4.1),
 ('Sri Lanka', 4.4),
 ('Tanzania', 6.54),
 ('Sudan', 11.95),
 ('Ireland', 1.0),
 ('China', 3.41),
 ('Bulgaria', 1.0),
 ('Nepal', 11.6),
 ('Serbia', 1.2949940658021881),
 ('Djibouti', 17.3),
 ('Norway', 0.3),
 ('Gabon', 14.5),
 ('Trinidad and Tobago', 5.7),
 ('United States', 1.5),
 ('Canada', 0.8),
 ('France', 1.0),
 ('Spain', 1.0),
 ('Mauritius', 0.63),
 ('Bahrain', 3.1),
 ('Micronesia', 2.2),
 ('Mauritania', 8.0),
 ('Malta', 1.0),
 ('Jamaica', 7.45),
 ('Rwanda', 4.6),
 ('Italy', 1.0),
 ('Bosnia and Herzegovina', 1.09),
 ('Burkina Faso', 7.4),
 ('Niger', 9.6),
 ('Armenia', 2.1),
 ('Libya', 0.0),
 ('Costa Rica', 1.8),
 ('Guinea-Bissau', 9.8),
 ('United Arab Emirates', 2.8),
 ('Syria', 14.18),
 ('Dominica', 8.3),
 ('Haiti', 3.7),
 ('Korea, South', 4.78),
 ('South Africa', 4.2),
 ('Russia', 2.8),
 ('Mozambique', 3.5),
 ('Panama', 5.4),
 ('Iceland', 0.77),
 ('Uganda', 5.93),
 ('Botswana', 0.54),
 ('Kiribati', 15.9),
 ('Ethiopia', 10.3),
 ('Cuba', 7.2),
 ('Iran', 15.2),
 ('Samoa', 7.1),
 ('Equatorial Guinea', 15.6),
 ('Uruguay', 3.75),
 ('Bolivia', 3.68),
 ('Latvia', 1.0),
 ('Cameroon', 11.9),
 ('Mongolia', 4.57),
 ('Paraguay', 4.2),
 ('Somalia', nan),
 ('Israel', 0.7),
 ('Poland', 1.0)]

In [194]:
tariff_rate = {}

for i in range(len(avg_tariff)):
    tariff_rate[avg_tariff[i][0]] = (min_tariff[i][1], avg_tariff[i][1], max_tariff[i][1])
    
len(tariff_rate.keys())

172

In [196]:
data = {}

for i in range(len(tariff_rate.keys())):
    data[list(tariff_rate.keys())[i]] = {}
    
for i in range(len(data.keys())):
    data[list(data.keys())[i]]["Minimum"] = min_tariff[i][1]
    data[list(data.keys())[i]]["Average"] = avg_tariff[i][1]
    data[list(data.keys())[i]]["Maximum"] = max_tariff[i][1]
    
len(data.keys())

172

In [197]:
data["Kiribati"]

{'Minimum': 15.9, 'Average': 18.9, 'Maximum': 28.1}

In [198]:
tariffs = pd.DataFrame.from_dict(data).T

print(tariffs.shape)
tariffs.head()

(172, 3)

            Minimum  Average  Maximum
Suriname       7.60    9.842    11.90
Liberia        5.30   10.564    12.44
Uzbekistan     5.10    7.632     8.73
Portugal       1.00    1.492     2.00
Kenya          6.08    9.756    12.30

In [199]:
avg_tariff.sort(key=lambda x: x[1], reverse=True)
avg_tariff

[('Maldives', 17.14),
 ('Central African Republic', 15.536000000000001),
 ('Benin', 15.484),
 ('Chad', 15.303999999999998),
 ('Seychelles', 12.188),
 ('Bangladesh', 11.858),
 ('Guinea', 11.782),
 ('Togo', 11.462),
 ('Solomon Islands', 11.45),
 ('Liberia', 10.563999999999998),
 ('Ghana', 10.312000000000001),
 ('Tunisia', 10.208000000000002),
 ('Sierra Leone', 10.14),
 ('Algeria', 10.134),
 ('Pakistan', 9.906),
 ('Senegal', 9.872),
 ('Suriname', 9.842),
 ('Kenya', 9.756000000000002),
 ('Mali', 9.008),
 ('São Tomé and Príncipe', 8.934000000000001),
 ('Vanuatu', 8.882000000000001),
 ('Bhutan', 8.804),
 ('Angola', 8.776),
 ('Cambodia', 8.57),
 ("Côte d'Ivoire", 8.05),
 ('Uzbekistan', 7.632),
 ('Lesotho', 7.008),
 ('Afghanistan', 7.006666666666667),
 ('Madagascar', 6.962000000000001),
 ('Argentina', 6.784000000000001),
 ('India', 6.659999999999999),
 ('Guyana', 6.586000000000001),
 ('Comoros', 6.522),
 ('Kosovo', 6.2),
 ('Burundi', 6.036),
 ('Tajikistan', 5.796),
 ('Tonga', 5.595999999999999),
 ('Eritrea', 5.406000000000001),
 ('Malawi', 5.279999999999999),
 ('Colombia', 5.122),
 ('Lebanon', 4.754),
 ('Jordan', 4.612),
 ('Saudi Arabia', 4.5),
 ('Honduras', 4.378),
 ('Timor-Leste', 4.104),
 ('Thailand', 4.054),
 ('Qatar', 4.032),
 ('Burma', 3.968),
 ('Kuwait', 3.7580000000000005),
 ('Malaysia', 3.716),
 ('Philippines', 3.3639999999999994),
 ('Kazakhstan', 3.2039999999999997),
 ('Moldova', 3.082),
 ('Turkey', 2.968),
 ('Kyrgyz Republic', 2.732),
 ('Oman', 2.4739999999999998),
 ('Indonesia', 2.432),
 ('Papua New Guinea', 2.32),
 ('Macedonia', 2.192),
 ('Mexico', 2.1819999999999995),
 ('Namibia', 2.144),
 ('Ukraine', 2.068),
 ('Chile', 1.952),
 ('Guatemala', 1.834),
 ('Belarus', 1.78),
 ('Croatia', 1.5979999999999999),
 ('Turkmenistan', 1.56),
 ('Australia', 1.52),
 ('Portugal', 1.492),
 ('Belgium', 1.492),
 ('Luxembourg', 1.492),
 ('Lithuania', 1.492),
 ('United Kingdom', 1.492),
 ('Germany', 1.492),
 ('Austria', 1.492),
 ('Cyprus', 1.492),
 ('Greece', 1.492),
 ('Netherlands', 1.492),
 ('Slovenia', 1.492),
 ('Denmark', 1.492),
 ('New Zealand', 1.448),
 ('Albania', 1.074),
 ('Switzerland', 0.6),
 ('Singapore', 0.04),
 ('Liechtenstein', 0.0),
 ('Macau', 0.0),
 ('Iraq', nan),
 ('Kiribati', 18.9),
 ('Iran', 17.846),
 ('Djibouti', 17.532000000000004),
 ('Equatorial Guinea', 15.6),
 ('Gabon', 15.468),
 ('Syria', 15.34),
 ('Sudan', 14.570000000000002),
 ('Barbados', 14.020000000000001),
 ('Cameroon', 13.776),
 ('Nepal', 11.984),
 ('Guinea-Bissau', 11.84),
 ('Fiji', 11.514),
 ('Ethiopia', 11.408),
 ('Nigeria', 10.709999999999999),
 ('Niger', 10.529999999999998),
 ('Belize', 10.367999999999999),
 ('Venezuela', 9.780000000000001),
 ('Dominica', 9.530000000000001),
 ('Jamaica', 9.228),
 ('Mauritania', 9.028),
 ('Samoa', 8.983999999999998),
 ('Zimbabwe', 8.826),
 ('Burkina Faso', 8.618),
 ('Tanzania', 8.370000000000001),
 ('Cuba', 8.187999999999999),
 ('Brazil', 8.085999999999999),
 ('Egypt', 8.068000000000001),
 ('Trinidad and Tobago', 7.313999999999998),
 ('Uganda', 6.9079999999999995),
 ('Rwanda', 6.4959999999999996),
 ('Korea, South', 6.398000000000001),
 ('Sri Lanka', 6.15),
 ('Panama', 6.116),
 ('Haiti', 6.108),
 ('Ecuador', 5.56),
 ('Dominican Republic', 5.458),
 ('Morocco', 5.257999999999999),
 ('Serbia', 5.238998813160437),
 ('Bahrain', 5.1160000000000005),
 ('Mongolia', 4.9799999999999995),
 ('Uruguay', 4.928),
 ('Yemen', 4.892),
 ('Azerbaijan', 4.796),
 ('Bolivia', 4.606),
 ('Zambia', 4.508000000000001),
 ('Paraguay', 4.4399999999999995),
 ('South Africa', 4.395999999999999),
 ('Mozambique', 4.144),
 ('Micronesia', 4.1),
 ('Russia', 4.040000000000001),
 ('Vietnam', 4.0200000000000005),
 ('China', 3.782),
 ('United Arab Emirates', 3.592),
 ('Montenegro', 2.886),
 ('El Salvador', 2.716),
 ('Costa Rica', 2.49),
 ('Botswana', 2.4560000000000004),
 ('Armenia', 2.278),
 ('Spain', 1.492),
 ('Malta', 1.492),
 ('Somalia', nan),
 ('Israel', 2.234),
 ('Nicaragua', 2.1799999999999997),
 ('United States', 1.8040000000000003),
 ('Japan', 1.77),
 ('Norway', 1.658),
 ('Bosnia and Herzegovina', 1.544),
 ('Finland', 1.492),
 ('Sweden', 1.492),
 ('Estonia', 1.492),
 ('Romania', 1.492),
 ('Czech Republic', 1.492),
 ('Hungary', 1.492),
 ('Ireland', 1.492),
 ('Bulgaria', 1.492),
 ('France', 1.492),
 ('Italy', 1.492),
 ('Latvia', 1.492),
 ('Poland', 1.492),
 ('Peru', 1.408),
 ('Iceland', 1.182),
 ('Canada', 1.144),
 ('Mauritius', 0.762),
 ('Georgia', 0.624),
 ('Libya', 0.0)]

In [200]:
# Maldives

maldives = by_country["Maldives"]

print(maldives.shape)
maldives

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Maldives,Asia-Pacific,11.2,0.0,0.0,20.48000,36.100000,0.4,6.9,4.8,5.2,19150.7,5,2.800,517.5,68.100
2014-01-01,Maldives,Asia-Pacific,21.1,0.0,0.0,21.20000,40.563000,0.336,3.086,3.742,2.82801,9172.68,11.7,3.997,325.257,80.735
2015-01-01,Maldives,Asia-Pacific,20.6,0.0,0.0,16.24166,43.273000,0.331,3.056,3.498,5.10148,9234.85,28,10.890,283.977,77.486
2016-01-01,Maldives,Asia-Pacific,12.0,0.0,0.0,20.50000,32.717667,0.366,7.956,6.992,6.3,21759.9,6.1,1.473,551.833,61.469
2017-01-01,Maldives,Asia-Pacific,20.8,0.0,0.0,23.90000,42.615667,0.354,5.501,1.9,3.9894,15553,3.234,0.855,448.006,81.511
2018-01-01,Maldives,Asia-Pacific,20.6,0.0,0.0,11.03291,53.400000,0.325,2.841,7.42,6.05855,8731.25,14.5,12.125,281.554,69.100
2019-01-01,Maldives,Asia-Pacific,20.6,0.0,0.0,11.03291,53.400000,0.325,2.841,7.42,6.05855,8731.25,14.5,12.125,281.554,69.100
2020-01-01,Maldives,Asia-Pacific,21.1,0.0,0.0,24.45735,36.133000,0.342,4.92,5.022,4.9132,14383.3,11.6,2.457,363.269,74.839

In [201]:
kiribati = by_country["Kiribati"]

print(kiribati.shape)
kiribati

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Kiribati,Asia-Pacific,15.9,35.0,35.0,15.7000,117.900000,0.1,0.2,3.1,3.6,1975.81,NaN,2.200,1.4,26.300
2014-01-01,Kiribati,Asia-Pacific,17.3,35.0,35.0,15.7000,109.239000,0.109,0.699,2.9,1.52161,6391.01,NaN,2.000,9,NaN
2015-01-01,Kiribati,Asia-Pacific,17.3,35.0,35.0,20.2000,91.820000,0.105,0.626,2.5,0.282092,5973.05,2,2.000,-1.67966,NaN
2016-01-01,Kiribati,Asia-Pacific,28.1,35.0,35.0,17.5000,125.695667,0.115,0.24,2.256,3.5,2085.57,30.6,1.864,0.591,21.888
2017-01-01,Kiribati,Asia-Pacific,15.9,35.0,35.0,17.5000,117.638667,0.116,0.212,4.2,4.0188,1823.32,NaN,1.917,3.059,26.841
2018-01-01,Kiribati,Asia-Pacific,17.3,35.0,35.0,20.6501,85.891000,0.105,0.599,1.8,-0.285311,5721.56,NaN,2.800,3.86666,10.000
2019-01-01,Kiribati,Asia-Pacific,17.3,35.0,35.0,20.6501,85.891000,0.105,0.599,1.8,-0.285311,5721.56,NaN,2.800,3.86666,10.000
2020-01-01,Kiribati,Asia-Pacific,15.9,35.0,35.0,14.9000,96.582000,0.11,0.188,3.802,1.673,1713.22,NaN,2.086,1.17185,7.993

In [202]:
iran = by_country["Iran"]

print(iran.shape)
iran

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Iran,Middle East and North Africa,15.20,35.0,25.0,8.0,18.500000,81.4,1644.7,4.3,3.6,20199.6,12.5,9.900,5019,40.900
2014-01-01,Iran,Middle East / North Africa,21.80,35.0,25.0,5.9,15.299000,77.097,945.518,-1.665,0.955625,12264.1,13.2,35.200,3049.95,10.628
2015-01-01,Iran,Middle East / North Africa,21.80,35.0,25.0,9.3,21.659000,76.117,999.199,-1.875,2.27937,13127.1,12.47,30.600,4869.88,10.726
2016-01-01,Iran,Middle East and North Africa,15.20,35.0,25.0,7.3,18.980000,82.36,1610.68,-3.928,2.8,19556.5,12,31.165,3480.33,33.184
2017-01-01,Iran,Middle East / North Africa,15.23,35.0,25.0,7.1,17.186333,80.46,1454.52,0,0.0918,18077.5,11.269,8.866,3372,35.001
2018-01-01,Iran,Middle East / North Africa,19.60,35.0,25.0,8.4,25.466000,75.859,990.219,1.978,3.72993,13053.4,15.3,21.300,4150,12.697
2019-01-01,Iran,Middle East / North Africa,19.60,35.0,25.0,8.4,25.466000,75.859,990.219,1.978,3.72993,13053.4,15.3,21.300,4150,12.697
2020-01-01,Iran,Middle East / North Africa,15.20,35.0,25.0,5.8,15.021000,77.969,1334.32,2.973,0.9558,17113.6,12.8,15.549,2105.49,12.166

In [205]:
singapore = by_country["Singapore"]

print(singapore.shape)
singapore

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Singapore,Asia-Pacific,0.1,22.0,17.0,13.71,17.600000,5.6,527,3.6,3.5,93905.5,2,0.600,62006,110.900
2014-01-01,Singapore,Asia-Pacific,0.0,20.0,17.0,14.00,14.400000,5.399,348.7,4.075,5.15379,64583.6,3.1,2.359,63772.3,103.764
2015-01-01,Singapore,Asia-Pacific,0.0,20.0,17.0,13.80,17.132000,5.405,326.506,1.319,4.30412,60410,1.95,4.575,56650.9,111.017
2016-01-01,Singapore,Asia-Pacific,0.1,22.0,17.0,14.10,17.190667,5.639,565.811,3.231,3.3,100345,3.8,0.439,77646.1,108.341
2017-01-01,Singapore,Asia-Pacific,0.0,22.0,17.0,13.60,17.709667,5.607,492.631,2,3.2746,87855.4,1.829,-0.532,61596.7,112.028
2018-01-01,Singapore,Asia-Pacific,0.0,20.0,17.0,14.10,17.000000,5.274,314.911,4.889,5.70313,59711.2,2,5.248,64003.2,100.792
2019-01-01,Singapore,Asia-Pacific,0.0,20.0,17.0,14.10,17.000000,5.274,314.911,4.889,5.70313,59711.2,2,5.248,64003.2,100.792
2020-01-01,Singapore,Asia-Pacific,0.0,20.0,17.0,13.80,18.200000,5.47,452.686,2.918,6.4444,82762.1,3,1.025,67523,98.751

In [206]:
macau = by_country["Macau"]

print(macau.shape)
macau

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,25.000000,17.900000,0.6,71.8,9.3,-0.6,111629,2,1.200,1996.8,0.0
2014-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,34.000000,16.500000,NaN,NaN,NaN,NaN,NaN,1.8,NaN,2331.26,NaN
2015-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,34.500000,16.600000,0.6,43.6,9.9,NaN,78275,1.9,6.100,1500,NaN
2016-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,28.936234,18.478667,0.662,77.334,4.7,-1.8,116808,2,3.005,1113.41,0.0
2017-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,28.300000,17.364333,0.658,62.569,-20.3,-1.2558,95150.5,2.725,2.384,3026.7,0.0
2018-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,31.400000,16.800000,0.57,28.7,26.4,NaN,48923,2.9,5.800,4365.06,0.0
2019-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,31.400000,16.800000,0.57,28.7,26.4,NaN,48923,2.9,5.800,4365.06,0.0
2020-01-01,Macau,Asia-Pacific,0.0,12.0,39.0,32.000000,14.300000,0.6,80.8,-0.4,13.7,139220,NaN,6.000,3046.07,0.0

In [207]:
switzerland = by_country["Switzerland"]

print(switzerland.shape)
switzerland

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Switzerland,Europe,1.3,40.0,24.0,27.800,34.300000,8.4,517.2,1.1,1.6,61421.8,4.8,0.500,40986.1,42.800
2014-01-01,Switzerland,Europe,0.0,40.0,24.0,28.200,34.100000,8.003,371.568,1.963,1.15,46430.1,4.4,-0.218,-5252.12,49.427
2015-01-01,Switzerland,Europe,0.0,41.5,24.0,28.500,33.800000,8.002,363.421,0.98,1.21891,45417.8,2.904,-0.696,3612.98,49.099
2016-01-01,Switzerland,Europe,1.7,11.5,8.5,28.500,34.006679,8.484,548.483,2.531,1.9,64649.1,4.9,0.934,-87212.1,40.508
2017-01-01,Switzerland,Europe,0.0,40.0,24.0,27.891,33.969483,8.327,495.962,0.9,1.3922,59560.7,4.583,-0.432,-26340.2,45.388
2018-01-01,Switzerland,Europe,0.0,41.5,24.0,29.827,34.736000,7.837,339.89,1.851,1.66759,43369.7,4.2,0.228,-196.472,48.645
2019-01-01,Switzerland,Europe,0.0,41.5,24.0,29.827,34.736000,7.837,339.89,1.851,1.66759,43369.7,4.2,0.228,-196.472,48.645
2020-01-01,Switzerland,Europe,0.0,40.0,24.0,27.052,33.519381,8.14,472.83,1.993,1.961,58087.2,4.5,-0.012,21914.3,46.093

In [208]:
georgia = by_country["Georgia"]

print(georgia.shape)
georgia

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Georgia,Europe,0.70,20.0,15.0,25.82000,29.600,3.7,39.7,4.795,3.7,10747,11.6,6.000,1861.9,44.900
2014-01-01,Georgia,Europe,0.70,20.0,15.0,25.50000,29.567,4.484,27.552,3.234,3.73235,6144.84,14.3,-0.517,1009.74,31.789
2015-01-01,Georgia,Europe,0.72,20.0,15.0,25.40000,31.800,4.498,26.67,6.547,3.61889,5929.75,14.581,-0.944,866.074,32.738
2016-01-01,Georgia,Europe,0.70,20.0,15.0,25.70000,29.637,3.71,42.606,4.708,4,11485.4,14.1,2.615,1232.45,44.543
2017-01-01,Georgia,Europe,0.30,20.0,15.0,25.90000,29.837,3.701,37.174,2.8,3.9926,10043.8,11.577,2.133,1661.42,44.894
2018-01-01,Georgia,Europe,0.40,20.0,15.0,23.46537,32.200,4.469,24.541,6.953,4.67851,5491.09,16.3,8.543,974.567,33.879
2019-01-01,Georgia,Europe,0.40,20.0,15.0,23.46537,32.200,4.469,24.541,6.953,4.67851,5491.09,16.3,8.543,974.567,33.879
2020-01-01,Georgia,Europe,0.70,20.0,15.0,24.82503,28.698,4.47,34.209,4.734,5.5682,7653.03,13.4,3.069,1279.15,35.088

In [210]:
usa = by_country["United States"]

print(usa.shape)
usa

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,United States,Americas,1.70,37.0,21.0,26.000,37.800000,325.9,19390.6,2.3,2.2,59501.1,4.4,2.100,275381,107.800
2014-01-01,United States,North America,1.50,39.6,35.0,24.300,40.100000,316.373,16799.7,1.878,1.22068,53101,7.5,1.464,187528,104.517
2015-01-01,United States,North America,1.58,39.6,35.0,25.100,41.600000,314.184,15684.8,2.211,0.57907,49922.1,8.075,2.076,167620,106.525
2016-01-01,United States,Americas,2.60,37.0,21.0,27.100,38.076194,327.352,20494,2.857,2.4,62605.6,3.9,2.435,251814,105.773
2017-01-01,United States,Americas,1.64,39.6,35.0,26.358,38.058865,323.298,18569.1,2.4,2.0966,57436.4,4.906,1.275,391104,107.351
2018-01-01,United States,North America,1.80,35.0,35.0,24.832,41.700000,311.946,15094,1.735,0.544413,48386.7,7.9,3.142,226937,102.937
2019-01-01,United States,North America,1.80,35.0,35.0,24.832,41.700000,311.946,15094,1.735,0.544413,48386.7,7.9,3.142,226937,102.937
2020-01-01,United States,North America,1.50,39.6,35.0,25.444,38.867728,319.047,17418.9,2.389,2.2126,54596.7,6.2,1.610,92397,104.770

In [211]:
china = by_country["China"]

print(china.shape)
china

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,China,Asia-Pacific,3.50,45.0,25.0,17.53,31.600000,1390.1,23159.1,6.9,7.1,16660.3,4.7,1.600,136320,47.800
2014-01-01,China,Asia-Pacific,4.10,45.0,25.0,19.40,24.836000,1360.76,13395.4,7.671,8.85172,9844.03,4.6,2.633,123911,22.397
2015-01-01,China,Asia-Pacific,4.10,45.0,25.0,19.00,23.888000,1354.04,12405.7,7.8,9.2747,9161.97,4.1,2.650,121080,22.849
2016-01-01,China,Asia-Pacific,3.80,45.0,25.0,17.50,32.701667,1395.38,25270.1,6.567,6.9,18109.8,4.4,2.100,139043,50.463
2017-01-01,China,Asia-Pacific,3.41,45.0,25.0,17.50,30.746667,1382.71,21291.8,6.9,7.32,15398.6,4.605,2.003,133700,46.231
2018-01-01,China,Asia-Pacific,4.00,45.0,25.0,18.20,23.581000,1348.12,11300,9.237,10.5235,8382.01,6.5,5.417,123985,25.843
2019-01-01,China,Asia-Pacific,4.00,45.0,25.0,18.20,23.581000,1348.12,11300,9.237,10.5235,8382.01,6.5,5.417,123985,25.843
2020-01-01,China,Asia-Pacific,3.60,45.0,25.0,19.40,29.290000,1367.82,17617.3,7.364,8.5176,12879.9,4.7,1.988,128500,41.061

In [212]:
mexico = by_country["Mexico"]

print(mexico.shape)
mexico

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Mexico,Americas,4.30,35.0,30.0,17.200,26.900000,123.5,2458.4,2,2.5,19902.8,3.4,6.000,29695,54.200
2014-01-01,Mexico,North America,2.20,35.0,30.0,10.000,27.100000,118.397,1842.56,1.063,1.80643,15562.6,5,3.804,38285.7,46.479
2015-01-01,Mexico,North America,2.19,30.0,30.0,10.600,26.550000,114.872,1758.9,3.947,1.59163,15311.8,4.8,4.112,12659.4,43.519
2016-01-01,Mexico,Americas,1.20,35.0,30.0,16.200,26.284667,124.738,2569.81,1.994,2.6,20601.7,3.3,4.898,31604.3,53.565
2017-01-01,Mexico,Americas,1.02,35.0,30.0,17.438,27.034000,122.273,2315.65,2.5,2.5148,18938.3,4.015,2.823,26738.6,58.096
2018-01-01,Mexico,North America,2.20,30.0,30.0,9.600,26.211000,113.735,1661.64,3.967,1.44524,14609.8,5.3,3.404,19554.4,43.813
2019-01-01,Mexico,North America,2.20,30.0,30.0,9.600,26.211000,113.735,1661.64,3.967,1.44524,14609.8,5.3,3.404,19554.4,43.813
2020-01-01,Mexico,North America,5.40,35.0,30.0,19.678,28.054000,119.715,2140.56,2.125,3.3356,17880.5,4.9,4.019,22794.7,50.084

In [213]:
canada = by_country["Canada"]

print(canada.shape)
canada

(8, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,Canada,Americas,1.60,33.0,15.0,31.675,40.300000,36.7,1769.3,3,2.1,48265.2,6.3,1.600,24243.8,89.700
2014-01-01,Canada,North America,0.80,29.0,15.0,30.700,41.500000,35.105,1526.08,2.009,1.35918,43471.7,7.1,0.959,62324.7,89.119
2015-01-01,Canada,North America,0.86,29.0,15.0,31.000,41.900000,34.827,1488.31,1.837,1.15055,42734.4,7.292,1.516,45374.8,85.641
2016-01-01,Canada,Americas,1.50,33.0,15.0,32.200,40.452920,36.994,1836.82,1.834,1.9,49651.2,5.9,0.942,39624.6,90.630
2017-01-01,Canada,Americas,0.96,33.0,15.0,31.941,39.869808,36.229,1682.36,1.2,1.8322,46437.2,7.073,1.409,33721.1,92.327
2018-01-01,Canada,North America,0.90,29.0,15.0,30.954,42.900000,34.437,1396.13,2.46,1.13596,40541.1,7.4,2.890,40931.5,84.953
2019-01-01,Canada,North America,0.90,29.0,15.0,30.954,42.900000,34.437,1396.13,2.46,1.13596,40541.1,7.4,2.890,40931.5,84.953
2020-01-01,Canada,North America,1.50,29.0,15.0,30.558,40.668110,35.492,1591.58,2.532,2.5586,44843.4,6.9,1.900,53864,86.515

In [223]:
sample_list = [
    usa,
    mexico,
    canada,
    china,
    georgia,
    switzerland,
    singapore,
    macau,
    maldives,
    kiribati,
    iran
]

sample = pd.concat(sample_list)

print(sample.shape)
sample.head()

(88, 16)

,Country,Region,Tariff Rate (%),Income Tax Rate (%),Corporate Tax Rate (%),Tax Burden % of GDP,Gov't Expenditure % of GDP,Population (Millions),"GDP (Billions, PPP)",GDP Growth Rate (%),5 Year GDP Growth Rate (%),GDP per Capita (PPP),Unemployment (%),Inflation (%),FDI Inflow (Millions),Public Debt (% of GDP)
Year,,,,,,,,,,,,,,,,
2013-01-01,United States,Americas,1.70,37.0,21.0,26.000,37.800000,325.9,19390.6,2.3,2.2,59501.1,4.4,2.100,275381,107.800
2014-01-01,United States,North America,1.50,39.6,35.0,24.300,40.100000,316.373,16799.7,1.878,1.22068,53101,7.5,1.464,187528,104.517
2015-01-01,United States,North America,1.58,39.6,35.0,25.100,41.600000,314.184,15684.8,2.211,0.57907,49922.1,8.075,2.076,167620,106.525
2016-01-01,United States,Americas,2.60,37.0,21.0,27.100,38.076194,327.352,20494,2.857,2.4,62605.6,3.9,2.435,251814,105.773
2017-01-01,United States,Americas,1.64,39.6,35.0,26.358,38.058865,323.298,18569.1,2.4,2.0966,57436.4,4.906,1.275,391104,107.351

In [224]:
low = tariffs[
    (tariffs.index == "Georgia") |
    (tariffs.index == "Switzerland") |
    (tariffs.index == "Singapore") |
    (tariffs.index == "Macau")
]

print(low.shape)
low.sort_values(by=["Average"])

(4, 3)

             Minimum  Average  Maximum
Macau            0.0    0.000     0.00
Singapore        0.0    0.040     0.10
Switzerland      0.0    0.600     1.70
Georgia          0.3    0.624     0.72

In [225]:
high = tariffs[
    (tariffs.index == "Kiribati") |
    (tariffs.index == "Iran") |
    (tariffs.index == "Maldives")
]

print(high.shape)
high.sort_values(by=["Average"])

(3, 3)

          Minimum  Average  Maximum
Maldives     11.2   17.140     21.1
Iran         15.2   17.846     21.8
Kiribati     15.9   18.900     28.1

In [226]:
signifigant = tariffs[
    (tariffs.index == "United States") |
    (tariffs.index == "Canada") |
    (tariffs.index == "Mexico") |
    (tariffs.index == "China")
]

print(signifigant.shape)
signifigant.sort_values(by=["Average"])

(4, 3)

               Minimum  Average  Maximum
Canada            0.80    1.144      1.6
United States     1.50    1.804      2.6
Mexico            1.02    2.182      4.3
China             3.41    3.782      4.1